name: Run Script on kerndatensaetz.csv change
# when kerndatensaetz.csv is changed
# run script to update other csv files based on kerndatensaetz.csv

# on:
#   push:
#     paths:
#       - "data/kerndatensaetze-raw.csv"
#   pull_request:
#     paths:
#       - "data/kerndatensaetze-raw.csv"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install
        run: npm install

      - name: Run script
        run: node scripts/countOccurrences

      - name: Commit and Push CSV
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add data/*
          git reset HEAD data/kerndatensaetze-raw.csv
          git commit -m "updated CSV files based on kerndatensetz csv" || true  # The script won't fail if there's nothing to commit
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
